<%-include('partials/header') %>

<%-include('partials/navbar') %>

<main>
    <div class="titulo">
        <h1>
            Bem vindo ao index!
        </h1>
    </div>
</main>

<%-include('partials/footer') %>